<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
​
<div class="container">
    <h2>Danh sánh thành phố</h2>
    <td><a class="m-0 float-right btn btn-success btn-sm" href="/create">Thêm thành phố<i
            class="fas fa-chevron-right"></i></a></td>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>STT</th>
            <th>Thành phố</th>
            <th>Quốc gia</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tp,loop: ${listTP}">
            <td th:text="${loop.index +1}"></td>
            <td><a th:text="${tp.tenTP}" th:href="@{/view/{id}(id=${tp.id})}"></a></td>
            <td th:text="${tp.quocGia.getTenQuocGia()}"></td>
            <td><a th:href="@{edit/{id}(id=${tp.id})}">Chỉnh sửa</a></td>
            <td><a th:href="@{delete/{id}(id=${tp.id})}">Xóa</a></td>
        </tr>
        </tbody>
    </table>
</div>
​
</body>
</html>
​
